<!DOCTYPE html>
<html>

<head>
    <script src="jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>activity name</title>
</head>

<body>
    <nav>
        <u>
        <li>
            logo
        </li>
        <li>
            <a href="/Cities">Cities</a>
        </li>
        <li>
            <a href="/Categories">Categories</a>
        </li>
        <li>
            <a href="/Trip planner">Trip planner</a>
        </li>
    </u>
    </nav>
    <div class="welcome-page">
        <div id="activity-name">
            NAME
        </div>
    </div>
    <div class="info">
        <div id="openinghours">
        </div>
        <div id="price">
        </div>
        <div id="location">
        </div>
    </div>

    <div class="ratings">
        
    </div>
</body>
<script src="main.js"></script>
<script src="bootstrap.min.js"></script>

</html>
