<!DOCTYPE html>
<html>

<head>
    <script src="jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Trip Planner</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                logo
            </li>
            <li>
                <a href="cities.html">Cities</a>
            </li>
            <li>
                <a href="activities.html">Activities</a>
            </li>
            <li>
                <a href="trip.html">Trip planner</a>
            </li>
        </ul>
    </nav>
    <div class="welcome-page">
        <ul class="searchbar">
            <li>
                <div class="dropdown sortCat">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Historical</a></li>
                        <li><a href="#">Entertainment</a></li>
                        <li><a href="#">Food</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown rating">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Rating
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown maxprice">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Open during
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">day time</a></li>
                        <li><a href="#">night time</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown maxprice">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Max Price
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">100</a></li>
                        <li><a href="#">200</a></li>
                        <li><a href="#">500</a></li>
                        <li><a href="#">1000</a></li>
                        <li><a href="#">2000</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="pop-activities">
        <div class="card">
            <img src="">
            <a href="/NAME"> NAME </a>
            <p>price </p>
        </div>
    </div>
</body>
<script src="main.js"></script>
<script src="bootstrap.min.js"></script>

</html>
