<!DOCTYPE html>
<html>

<head>
    <script src="jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Trip Planner</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                logo
            </li>
            <li>
                <a href="cities.html">Cities</a>
            </li>
            <li>
                <a href="activities.html">Activities</a>
            </li>
            <li>
                <a href="trip.html">Trip planner</a>
            </li>
        </ul>
    </nav>
    <div class="welcome-page">
        <ul class="searchbar">
            <li>
                <div class="dropdown city">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Cities
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Luxor</a></li>
                        <li><a href="#">Aswan</a></li>
                        <li><a href="#">Cairo</a></li>
                        <li><a href="#">Alexandria</a></li>
                        <li><a href="#">Hurghada</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown season">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Season
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Winter</a></li>
                        <li><a href="#">Spring</a></li>
                        <li><a href="#">Summer</a></li>
                        <li><a href="#">Fall</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown category">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">of Category
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Historical</a></li>
                        <li><a href="#">Entertainment</a></li>
                        <li><a href="#">Food</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown includescategory">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">includes activities
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Historical</a></li>
                        <li><a href="#">Entertainment</a></li>
                        <li><a href="#">Food</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="pop-activities">
        <div class="card">
            <img src="">
            <a href="/NAME"> NAME </a>
            <p>price </p>
        </div>
    </div>
</body>
<script src="main.js"></script>
<script src="bootstrap.min.js"></script>

</html>
