<!DOCTYPE html>
<html>

<head>
    <script src="jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Trip Planner</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                logo
            </li>
            <li>
                <a href="cities.html">Cities</a>
            </li>
            <li>
                <a href="activities.html">Activities</a>
            </li>
            <li>
                <a href="trip.html">Trip planner</a>
            </li>
        </ul>
    </nav>
    <div class="welcome-page">
        
    </div>
</body>
<script src="main.js"></script>
<script src="bootstrap.min.js"></script>

</html>
